.DS_Store
*.pyc
*.swp
*.o
db.sql
nsrl.bloom
*.iml
syntax: glob
.idea/**
out/**
media/**
build/**
cover/*
samples/**
static/*
setLocalPath.sh
installation/licenses/*
installation/install-media/*
installation/salt-masterless/pillar/*
.vagrant/*
celerybeat-schedule
*.tar.gz
*.bin
*.rpm
*.tar.Z
*.zip
*.deb
*~
doc/_build/*
