{% extends "base.html" %}
{% comment %}

{% endcomment %}
{% load upload_tags %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h2>Upload New Samples</h2>
        </div>
        <!-- The file upload form used as target for the file upload widget -->
        <form id="fileupload" method="post" action="./add/" enctype="multipart/form-data">{% csrf_token %}
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <div class="row fileupload-buttonbar">
                <div class="span7">
                    <!-- The fileinput-button span is used to style the file input field as a button -->
                    <span class="btn btn-primary fileinput-button">
                        <i class="icon-plus icon-white"></i>
                        <span>Add files...</span>
                        <input type="file" name="file" multiple>
                    </span>
                    <button type="submit" class="btn btn-success start">
                        <i class="icon-upload icon-white"></i>
                        <span>Start upload</span>
                    </button>

                    <!--<button type="reset" class="btn btn-warning cancel">-->
                        <!--<i class="icon-ban-circle icon-white"></i>-->
                        <!--<span>Cancel upload</span>-->

                    <!--</button>-->
                    <!--<button type="button" class="btn btn-danger delete">-->
                        <!--<i class="icon-trash icon-white"></i>-->
                        <!--<span>Delete files</span>-->
                    <!--</button>-->
                    <!--<input type="checkbox" class="toggle">-->

                    <!-- The loading indicator is shown during file processing -->
                    <!--<span class="fileupload-loading"></span>-->

                </div>
                <!-- The global progress information -->
                <div class="span5 fileupload-progress fade">
                    <!-- The global progress bar -->
                    <div class="progress progress-success progress-striped active">
                        <div class="bar" style="width:0%;"></div>
                    </div>
                    <!-- The extended global progress information -->
                    <div class="progress-extended">&nbsp;</div>
                </div>
            </div>
            <!-- The loading indicator is shown during file processing -->
            <div class="fileupload-loading"></div>
            <!-- The table listing the files available for upload/download -->
            <table class="table table-striped"><tbody class="files"></tbody></table>
        </form>
        <div class="fileupload-content">
            <table class="files"></table>
            <div class="fileupload-progressbar"></div>
        </div>
    </div>

    {% upload_js %}

    <script src="{{ STATIC_URL }}js/tmpl.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/load-image.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/canvas-to-blob.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-image-gallery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fileupload-fp.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fileupload-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/locale.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
{% endblock %}
